@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
		
body, body * {
	margin: unset;
	box-sizing: unset;
	padding: unset;
	font-size: 16px;
	text-decoration: unset;
	
	-webkit-user-select: none;
	-khtml-user-drag: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

body {
	font-family: 'Fira Code', monospace;
	color: #8F93A2;
	font-size: 16px;
	
}

body:before{
	-webkit-filter: blur(10px);
	-mox-filter: blur(10px);
	filter:
}

ul {
	list-style-position: inside;
	list-style-type: "";
}

.topper{
	background-color: #171717;
	width: 100%;
	height: 40px;
	
}

#header{
	position: relative;
}

.terminal-screen {
	overflow: hidden;
	border: 3px solid #0d0d0d;
	background-color: #252525;
	border-radius: 14px;
	z-index: 2;
	position: absolute;
	width:80px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#middle {
	display: table-cell;
	vertical-align: middle;
}

#inner {
	margin-left: auto;
	margin-right: auto;
	width: 47.5%;
	position:absolute;
}

.links-container {
	order: 1;
	position: relative;
	display: flex;
	flex-direction: row;
	height: 30%;
	padding: 10px;
	justify-content: space-around;
}

.main,
.social,
.varsity,
.gaming {
	width: auto;
	position: relative;
	padding: 10px;
	transition: background-color 0.3s;
	color: #89ddff;
}

.main {
	order: 0;
}

.varsity {
	order: 1;
}

.gaming {
	order: 2;
}

.social {
	order: 3;
}

.social p{
	color: #8F93A2;
}

a:link,
a:visited {
	color: #8F93A2;
	text-decoration: none;
}

a:hover {
	color: #89ddff;
	text-decoration: none;
}

a:active {
	color: #82aaff;
	text-decoration: none;
}

.unix-user {
	color: #ff5370;
	order: 0;
}

.unix-syntax1 {
	color: #8F93A2;
	order: 1;
}

.cursor {
	animation: blinker 1s step-start infinite;
	color: #8F93A2;
	order: 4;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

#main-h, #varsity-h, #social-h, #gaming-h{
	font-weight: bold;

}
#main-h {
	color: #c792ea;
}

#varsity-h {
	color: #c3e88d;
}

#social-h {
	color: #ff5370;
}

#gaming-h {
	color: #82aaff;
}

.separators {
	color: #464B5D;
	font-family: 'Fira Code', monospace;
}

#min{
	border-radius: 50%;
	position: fixed;
	width: 11px;
	height: 11px;
	margin-top: 15px;
	margin-left: 42px;
	background-color: #FAD358;
}

#max{
	border-radius: 50%;
	position: fixed;
	width: 11px;
	height: 11px;
	margin-top: 15px;
	margin-left: 64px;
	background-color: #00bd5f;
}

#fechar{
	border-radius: 50%;
	position: fixed;
	width: 11px;
	height: 11px;
	margin-top: 15px;
	margin-left: 20px;
	background-color: #ff625e;
}

#titulo{
	position:fixed;
	color: #8F93A2;
	font-size: 16px;
	font-family: 'Fire Code', monospace;
	margin-top: 18px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

.pontos{
	color: #464B5D;
	font-family: 'Fira Code', monospace;
}

#search {
	display: flex;
	width: 100%;
	order: 2;
	padding-top: 9px;
	padding-left: 710px;
}

#search-bar {
	order: 4;
	overflow: hidden;
	display: flex;
}

input {
	background: #25252580;
	caret-color: #8F93A2;
	outline: none;
	border: none;
	color: #8F93A2;
	font-family: 'Fira Code', monospace;
	font-size: 14px;
	padding-left: 5px;
	width: 150px;
}

.imagem{
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1007062572068514731/831CD7F1AA9F52E53B2B0D38692E6FC59ED2092B/);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* filter: blur(6px);
	-webkit-filter: blur(6px); */
	height:100%;
	z-index: 1;
}